#map-canvas { height:400px; clear:both; }
#map-canvas img { max-width: none; }
#gps { float:left; padding: 10px 0; }
#gps-label { position:relative; top:-5px; }
#gps-switch { display:inline-block; }
#gpsbutton { position:relative; }
#start { line-height:40px; }
#search { border-radius:5px; width:80%; }
#search-submit { width:16%; margin-left:2%; }
#travel-mode { float:right; padding: 10px 0; }
.mode-selector { margin-left:40px; display:block; float:left; text-align:center; line-height:20px; font-size:1.1em; }
.active { text-decoration:underline !important; }

/* Tablet Browser */
@media only screen and (max-width: 940px) {
}
/* Mobile Browser */
@media only screen and (max-width: 767px) {
	#map-canvas { height:200px; }
}