#tswitch {
transition:background-color .3s ease;
-moz-transition:background-color .3s ease;
-webkit-transition:background-color .3s ease;
-o-transition:background-color .3s ease;
}
#tswitch #cover {
transition:left .3s ease;
-moz-transition:left .3s ease;
-webkit-transition:left .3s ease;
-o-transition:left .3s ease;
}

#tswitch { background-color:#999; height:21px; cursor:pointer; }
#tswitch.enabled { background-color:#09F; }
#tswitch #cover { position:relative; left:50%; width:50%; background-color:#CCC; height:21px; }
#tswitch:not(.enabled) #cover { left:0; }
#tswitch span { padding:0 6px; color:#FFF; cursor:pointer; }
#tswitch span.on { float:left; }
#tswitch span.off { float:right; }
#tswitch:not(.enabled) span {}